*.ksh
*.html
*.atxt
*.exe
*.so
*.o
*.php
*.pl
*.core
*.project
*.ignore
*.tar.gz
/gitignore
/ctr
docs/ctr
docs/pages
docs/pagemaker.ctr
*.pid
x.sh
p.sh
/plugins/jsonc
/plugins/gtk
.vs
.vscode
*.vsspell
build/

