*.ksh
*.html
*.atxt
*.so
*.o
*.php
*.pl
*.core
*.project
*.ignore
*.tar.gz
*.png
*.ico
*.bmp
*.xcf
*.bmp
*.zip
*.dll
*.lib
*.bak*
*.def
*.ogg
*.exe
core
/container
/tests/runner*
/tests/terrors*
/tests/tmp/*
/gitignore
/examples/work
/misc/tabelmaker*
/notes/prelim
/notes/translations.txt
/ctr
/ctrnl
/bin
/dict
docs/server
docs/keys
docs/ctr
docs/pages
docs/pagemaker.ctr
*.pid
*.dat
x.sh
p.sh
/plugins/jsonc
/plugins/gtk


